body{
  margin: 0;
  text-align: center;
  font-family: "Merriweather",serif;
}

hr{
  width: 90%;
}

h1{
  color: #66BFBF;
  margin-top: 50px;
  font-family: "Sacramento",cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto ;
}

h2{
  font-family: "Montserrat", sans-serif;
  color: #66BFBF;
  font-size: 2.5rem;
  font-weight: normal;
}

h3{
  color: #11999E;
  font-family: "Montserrat", sans-serif;
}

li{
  text-align: left;
}

table{
  margin: auto;
}

td{
  text-align: center;
}

.sec-row{
  width: 80%;
  margin: 50px auto 50px auto;
  text-align: left;
}

.sec-img{
  width:25%;
  height:25%;
  float: left;
  margin-right: 10%;
  margin-bottom: 20px;
}

.sec-img-right{
  width:25%;
  height:25%;
  float: right;
  margin-left: 10%;
  margin-bottom: 15px;
}

.footer-img{
  margin-right:10px;
  border-radius:9px;
  width:40px;
  height:40px;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud{
  position: absolute;
  left: 150px;
  top: 400px;
}

.top-container{
  background-color: #EAF6F6;
  padding-top: 100px;
}

.bottom-container{
  background-color: #EAF6F6;
  padding-top: 1px;
  padding-bottom: 3px;
}
